Repository openfun/openedx-docker, pull requests merged in 2019-11, with the labels that each got.

#135 🔧(dogwood/3/fun) Complete and split (python/yaml) FUN production settings
  releases/dogwood/3/fun/CHANGELOG.md
  releases/dogwood/3/fun/config/cms/docker_run_development.py
  releases/dogwood/3/fun/config/cms/docker_run_production.py
  releases/dogwood/3/fun/config/cms/fun.py
  releases/dogwood/3/fun/config/cms/secrets.yml
  releases/dogwood/3/fun/config/cms/settings.yml
  releases/dogwood/3/fun/config/lms/docker_run_development.py
  releases/dogwood/3/fun/config/lms/docker_run_production.py
  releases/dogwood/3/fun/config/lms/fun.py
  releases/dogwood/3/fun/config/lms/secrets.yml
  releases/dogwood/3/fun/config/lms/settings.yml
  releases/dogwood/3/fun/config/lms/utils.py
  releases/dogwood/3/fun/requirements.txt
Labels: FUN, improvement

#137 🔖(dogwood/3/fun) bump to dogwood.3-fun-1.1.0
  releases/dogwood/3/fun/CHANGELOG.md
Labels: FUN, easy pick

#140 ⚡️(circle) speed up new release publication
  .circleci/config.yml
Labels: improvement, needs review
